<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="formDiv">
        <div class="innerDiv">
            <% if(error) { %>
            <p><%= error %></p>
            <% } %>
            <p class="formTitle">Login</p>
                <form action="login" method="post" class="form">
                    <!-- <input type="text" name="name" placeholder="Enter your name"> -->
                    <input type="email" name="email" id="email" placeholder="Enter your email" required>
                    <input type="password" name="password" placeholder="Enter your password" required>
                    <input type="submit" value="Login">
                </form>
            <p><a href="signup" class="link"> Signup?</a></p></div>
    </div>
</body>
</html>