<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/css/form.css" /> -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <% if(error) { %>
      <p class="text-red-600 "><%= error %></p>
      <% } %>
    <div class="bg-gray-800 flex justify-center items-center min-h-screen">
      <div class="bg-gray-700 p-8 rounded-lg w-full max-w-sm shadow-lg">
        
        <h2 class="text-center text-3xl text-white font-bold mb-6">Signup</h2>
        <form action="/api/auth/signup" method="post">
          <div class="mb-2">
            <label class="block text-gray-200 font-medium mb-2" for="email"
              >Name</label
            >
            <input
              class="w-full px-3 py-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-gray-400"
              type="text"
              name="name"
              placeholder="Name"
            />
          </div>
          <div class="mb-2">
            <label class="block text-gray-200 font-medium mb-2" for="email"
              >Username</label
            >
            <input
              class="w-full px-3 py-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-gray-400"
              type="text"
              name="username"
              placeholder="Username"
            />
          </div>
          <div class="mb-2">
            <label class="block text-gray-200 font-medium mb-2" for="email"
              >Email</label
            >
            <input
              class="w-full px-3 py-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-gray-400"
              type="email"
              name="email"
              placeholder="Email"
            />
          </div>
          <div class="mb-2">
            <label class="block text-gray-200 font-medium mb-2" for="password"
              >Password</label
            >
            <input
              class="w-full px-3 py-2 rounded-lg bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-gray-400"
              type="password"
              name="password"
              placeholder="Password"
              size="20"
              minlength="8"
            />
          </div>
          <button
            class="w-full max-w-sm py-2 bg-blue-600 hover:bg-blue-700 mt-2 rounded-lg text-white cursor-pointer"
            type="submit"
          >
            Signup
          </button>
          <button
            class="w-full max-w-sm py-2 mt-2 rounded-lg text-white"
            type="submit"
          >
            <a href="/api/auth/login">Login?</a>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
